.body-container-mobile{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*top: 36px;*/
    /*position: relative;*/
}
/*
.body-content{
    background-image: url(http://pm1.narvii.com/6574/92b3e85e98b4d4e1d303faa8263d756f8d2a1310_hq.jpg);
    position: relative;
}

.img {
    width: 100%;
    height: auto;
    opacity: 0.4;
}
*/
img{
    width: 55px;
    height:50px;
}


.explain:hover{
    opacity: 0.75;
}
