.body-container{
    flex-grow: 1;
    width: 100%;
    height: 85%;
    overflow: auto;
}
/*
.body-content{
    background-image: url(http://pm1.narvii.com/6574/92b3e85e98b4d4e1d303faa8263d756f8d2a1310_hq.jpg);
    position: relative;
}

.img {
    width: 100%;
    height: auto;
    opacity: 0.4;
}
*/
 img{
  width: 55px;
    height:50px;
 }

.explain{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid lightgrey;
    padding: 9px;
    text-align: center;
   /* position: relative;
    top: 35px;*/

}

.explain:hover{
    text-transform: uppercase;

}
