.body-container{
    flex-grow: 1;
    width: 100%;
    height: 85%;
}
/*
.body-content{
    background-image: url(http://pm1.narvii.com/6574/92b3e85e98b4d4e1d303faa8263d756f8d2a1310_hq.jpg);
    position: relative;
}

.img {
    width: 100%;
    height: auto;
    opacity: 0.4;
}
*/
.explain{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1.9px solid lightgrey;
    padding:15px;
    text-align: center;
}

