.alert-zone {
    display: flex;
    justify-content: flex-start;
    z-index: 10;
    flex-shrink: 0;
    position: relative;
    border-top: 1.3px solid hotpink;
    font-size: 15px;
    color: black;
    width: 100%
}

.message{
    position: relative;
    margin: 4px 15px;
}
