.alert-zone {
    display: flex;
    justify-content: center;
    z-index: 10;
    flex-shrink: 0;
    position: relative;
    border-top: 1.3px solid hotpink;
    font-size: 15px;
    color: black;
    width: 100%;
    background-color: rgba(2, 37, 28, 0.19);
    color: rgba(76, 48, 48, 0.73);
}
/*
.message{
    position: relative;
    margin: 4px 15px;
}
*/

.Table {
    display: flex;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 30%; font-size: 15px;
    color: rgba(76, 48, 48, 0.73);

}

th, td {
    text-align: left;
    padding: 8px;
}

tbody {
    display: table-row-group;
    vertical-align: baseline;
    border-color: inherit;
}
