.flex-container-mobile{
    display: -webkit-flex;
    display: flex;
    background-color: rgba(51, 17, 44, 0.54);
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 50px;
    max-height: 50px;
    padding: 5%;
}


.name-mobile{
    display: flex;
    color: #f7f7f7;
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 5px -5px 6px #111111;
    margin-left: 17vh;
    font-family: cursive;
    text-transform: uppercase;
    text-align: center;
}

.Notification{
    display: flex;

}

.notification_btn{
    background-color: rgba(0, 100, 0, 0.03);
    color: #fffcde;
    padding: 0 3px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid white;
    margin-right: 25px;
}

.user{
    color:white;
    font-size: 15px;
    font-weight: lighter;
    margin: 0 0 0 25px;
}

.user_container{
    display: flex;
    align-items: center;
}

.user_img_mobile{
    width: 12vw;
    height: 5vh;
}

.user_name_mobile{
    text-align: center;
    padding-left: 16px;
    font-size: 3.6vw;
}