.flex-container{
    display: -webkit-flex;
    display: flex;
    background-color: rgba(53, 57, 86, 0.54);
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    font-size: 25px;
    max-height: 50px;
    padding: 10px 20px 10px 15px;
}


.name{
    display: flex;
    color: white;
    width: 100px;
    margin: 30px 10px;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 6px -1px 6px #111111;
}

.Notification{
    display: flex;

}

.notification_btn{
    background-color: rgba(0, 100, 0, 0.03);
    color: #fffcde;
    padding: 0 3px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid white;
    margin-right: 25px;
}

.user{
    color:white;
    font-size: 15px;
    font-weight: lighter;
    margin: 0 0 0 25px;
}