html, body {margin: 0; height: 100%; overflow: hidden}

.mainScreen {
    display: flex;
    position: relative;
    width:100%;
    flex-direction: column;
    align-items: center;
    font-family: Arial ,sans-serif;
}

.mainScreen::after{
    content: "";
    background: url(https://i.pinimg.com/564x/12/19/cd/1219cdba2a62d4ae520de28d8d5a9f8b.jpg);
    background-size: cover;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}



