.nav-bar{
    min-width: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.nav-bar-header{
    background-color: #65686d;
    flex-shrink: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 1px 15px;
    height: 40px;
    /*-webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;*/
}