.nav-bar-header{
    display: -webkit-flex;
    display: flex;
    background-color: rgba(181, 161, 179, 0.8);
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    font-size: 15px;
    max-height: 30px;
    padding: 3px 0 2px 0;
}

.login{
    display: flex;
    color: white;
    width: 300px;
    margin: 20px 10px;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

/*
.login:hover{
    opacity: 0.5;
}
*/


.signIn-button{
    background-color: rgba(0, 100, 0, 0.03);
    color: #98fff3;
    padding: 0 3px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.signIn-button:hover{
    opacity: 0.5;
    color: black;
}

.register-button{
    background-color: rgba(0, 100, 0, 0.03);
    color: #98fff3;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.register-button:hover{
    opacity: 0.5;
    color: black;
}
.shopping-button{
    display:flex;
    cursor: pointer;
    border: none;
    background: rgba(181, 161, 179, 0.12);
    height: 30px;
}

.shopping-cart{
    padding: 7px 11px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-height: 30px;
    border-radius: 6px;
    background-color: transparent;
    color: white;
}

.img-cart{
    height: 33px;
    width: 35px;
    margin-right: 18px;
    cursor: pointer;
}

.img-cart:hover{
    opacity: 0.5;
}
