.ProductBackdrop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(210, 214, 214, 0.78);

}

.ProductModal{
    background-color: rgba(24, 53, 88, 0.72);
    border-radius: 5px;
    width: 70vw;
    height: 60vh;
    margin: 0 auto;
    padding: 60px;
    color: white;
    position: relative;
}

.modal-header{
    display: -webkit-flex;
    display: flex;
    background-color: rgba(181, 161, 179, 0.8);
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    justify-content: baseline;
    flex-shrink: 0;
    font-size: 15px;
    max-height: 30px;
    padding: 3px 0 2px 0;
}

h2{
    text-shadow: 4px -5px 2px rgb(131, 156, 177);
}

.images {
    width: 49%;
    height: 100%;
    display: inline-block;
    border-right: 1px solid lightblue;
}

.description{
    width: 49%;
    display: inline-block;
    position: absolute;
}

.title{
    font-size: 29px;
    padding: 0 0 5px 0;
    font-family: Arial , sans-serif;
    color: white;
    text-align: center;
    margin: 0 0 35px 17px;
    border-bottom: 1px solid white;

}

.price{
    font-size: 17px;
    color: white;
    position: relative;
    left: 56px;
    padding-bottom: 22px;
}

.price-tag{
    padding-right: 3px;
}


.view {
    font-size: 17px;
    color: white;
    position: relative;
    left: 55px;
    padding-top: 25px;
}

.overview{
    color:white;
    font-style: italic;
    font-size: 19px;
}

.btn-exit{
    position: absolute;
    top: -20px;
    right: -15px;
}

.symbol{
  padding-right: 7px;
}

.btn-cart{
    background-color: rgba(43, 36, 43, 0.8);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border :none;
    margin-left: 55px;
    padding: 9px 195px;
}

.btn-cart:hover{
    opacity:0.5;
}