
.ProductBackdrop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(210, 214, 214, 0.78);
}

.ProductModal{
    background-color: rgba(24, 53, 88, 0.72);
    border-radius: 5px;
    width: 70vw;
    height: 60vh;
    margin: 0 auto;
    padding: 60px;
    color: white;
    min-width: 444px;
    position: relative;
}

.modal-header{
    display: -webkit-flex;
    display: flex;
    background-color: rgba(181, 161, 179, 0.8);
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    justify-content: baseline;
    flex-shrink: 0;
    font-size: 15px;
    max-height: 30px;
    padding: 3px 0 2px 0;
}

h2{
    text-shadow: 4px -5px 2px rgb(131, 156, 177);
}

.images {
    width: 45%;
    height: 90%;
    display: inline-block;
    border: 2px solid #eadfff;
    margin-top: 50px;
    border-radius: 50%;
    -webkit-filter: contrast(120%);filter: contrast(120%);
}

/*.images:hover{
    border-radius: 50%;
}*/

.description{
    width: 49%;
    display: inline-block;
    position: absolute;
}

.title{
    font-size: 29px;
    padding: 0 0 5px 0;
    font-family: Arial , sans-serif;
    color: #b1cfd8;
    text-align: center;
    margin: 0 0 35px 17px;
    border-bottom: 5px double #b1cfd8;
    text-shadow: 4px -5px 2px #bfc6c859;

}

.title:hover{
   color:white;
   border-bottom: 5px double white;
}

.price{
    font-size: 17px;
    font-style: italic;
    color: white;
    position: relative;
    left: 56px;
    padding-bottom: 22px;
}

.price-tag{
    padding-right: 6px;
}

/*.price-tag:hover ,.price:hover{
    background-color: #c2eed5;
    color:black;
    width: 17%;
    height: 1vh;
}*/

.view {
    font-size: 17px;
    color: white;
    position: relative;
    left: 55px;
    padding-top: 25px;
}

.overview{
    color:white;
    font-style: italic;
    font-size: 19px;
}

.overview:hover{
    color:black;
    background-color: #a8f7ff;
    width: 85%;
}

ul:hover{
    color:black;
    width: 80%;
    background-color: #ead5fb;
}

.btn-exit{
    position: absolute;
    top: -25px;
    right: -19px;
}
.btn-exit:hover{
  opacity: 0.5;
}

.symbol{
  padding-right: 7px;
}

.btn-cart{
    background-color: rgba(43, 36, 43, 0.8);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    margin-left: 55px;
    padding: 2% 38%;
    border:none;
}

.btn-cart:hover{
    opacity:0.5;
    border: 1px solid rgb(249, 204, 203);
}
.quantity{
    font-size: 15px;
    color:white;
    padding-right: 6px;
    align-self: center;
}

.amount{
   /*display: flex;*/
   justify-content: flex-start;
    margin-left: 50px;
}

/*.quantity:hover{
    background-color: #ffbcff;
    color:black;
    width: 2vw;
    height: 2vh;
}*/


.ProductModal input[type=text]{
  /*text-align: center;*/
    width: 3vw;
    height: 4vh;
    font-size:18px;
    border: 3px solid rgb(230, 207, 249);
    border-radius: 3px;
}

.ProductModal  input[type=text]:focus{
    border: 3px solid rgb(182, 247, 249);
}