.cartBackdrop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(210, 214, 214, 0.78);
}

.cartModal{
    background-color: rgba(24, 53, 88, 0.85);
    border-radius: 5px;
    width: 70vw;
    height: 60vh;
    margin: 0 auto;
    padding: 60px;
    color: white;
    min-width: 444px;
    position: relative;

}

.cartProducts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 90%;
    overflow-y: auto;

}

.cartProduct{
    display: flex;
    width: 68vw;
    height: 15vh;
}

.cartProduct:hover{
   background-color: rgba(71, 99, 134, 0.85);
}

.emptyCart{
    display: flex;
    border: 1vw dotted #e8b9d1;
    justify-content: center;
    padding: 9vh;
    font-size: 2vw;
    flex-direction: column;
    text-align: center;
}

.emptyCart:hover{
    opacity: 0.4;
    color: #44fff0;
}


.cartDisplay{
    display: flex;
    border: 1px solid #e6b5ce;
    position: relative;
    width: 100%;
    min-width: 560px;
}

.cartImage {

}

.imageProduct{
    -webkit-filter: contrast(120%);filter: contrast(120%);
    padding: 1vw 10vw 1vw 2vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 9vw;
    height: 11vh;
}

.imageProduct:hover{

    -webkit-filter: blur(2px);filter: blur(2px);
   /*-webkit-filter: grayscale(100%);filter: grayscale(100%);*/
}

.cartTitle{
    margin-top: 3vw;
    margin-right: 11vw;
    text-align: center;
}

.cartTitle:hover{
    opacity: 0.4;
    color: #44fff0;
}


.cartQuantity{
    margin-top: 3vw;
    margin-right: 11vw;
}

.cartQuantity:hover{
    opacity: 0.4;
    color: #44fff0;
}

.cartPrice{
    margin-top: 3vw;
    margin-right: 11vw;
}

.cartPrice:hover{
    opacity: 0.4;
    color: #44fff0;
}

.btn-exit-cart {
    position: absolute;
    top: -25px;
    right: -19px;
}

.btn-close-cart{
  background-color: rgba(43, 36, 43, 0.8);
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.btn-close-cart:hover{
    opacity: 0.5;
}

.btn-remove-cart{
    position: absolute;
    bottom: 6px;
    right: 15px;
}

.btn-remove{
    background-color: #112d4a;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;

}

.btn-remove:hover{
    background-color: #a08cb4;
}


.btn-remove:active {
    background-color: #a08cb4;
    transform: translateY(5px);
}

.price-zone{
    position: absolute;
    bottom: 3vh;
    right: 7vw;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 1.5vw;
    padding: 2vh;
}

.price-zone:hover{
    color: #ad0d49;
    border-top: 1px solid #ad0d49;
    border-bottom: 1px solid #ad0d49;
    opacity: 0.6;
}