.cartBackdrop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(210, 214, 214, 0.78);
}

.cartModal{
    background-color: rgba(24, 53, 88, 0.85);
    border-radius: 5px;
    width: 70vw;
    height: 60vh;
    margin: 0 auto;
    padding: 60px;
    color: white;
    min-width: 444px;
    position: relative;

}

.cartProducts{
    overflow-y: auto;
    height: 90%;
    position: relative;
    overflow-x: hidden;
}

.cartProduct{
    display: flex;
    width: 69vw;
    height: 12vh;
}

.emptyCart{
    display: flex;
    border: 1vw dotted #e8b9d1;
    justify-content: center;
    padding: 9vh;
    font-size: 2vw;
    flex-direction: column;
    text-align: center;
}

.emptyCart:hover{
    opacity: 0.4;
    color: #44fff0;
}


.cartDisplay{
    display: flex;
    border: 1px solid #e6b5ce;
    position: relative;
    width: 100%;
    min-width: 560px;
    margin-bottom: 5px;
}

.cartDisplay:hover{
    background-color: rgba(71, 99, 134, 0.85);
}

.cartImage{
    width: 11vw;
    height: 100%;
}

.imageProduct{
    -webkit-filter: contrast(120%);
    filter: contrast(120%);
    width: 80%;
    padding: 6px;
    height: 80%;
    /*width: 9vw;*/
    /*height: 100%;*/
    flex: 1 0 6%;
    align-self: center;
}

 /*.cartDisplay>*:not(:hover){

    -webkit-filter: blur(2px);filter: blur(2px);
}*/

 .imageProduct:hover{
     -webkit-filter: saturate(200%);
     filter: saturate(200%);
 }


.cartTitle{
   /* margin-top: 3vw;
    margin-right: 11vw;*/
    text-align: center;
    margin: 0 auto;
    flex: 1 0 15%;
    align-self: center;
}

.cartTitle:hover{
    opacity: 0.4;
    color: #44fff0;
}

.quantityTitle{
 margin-right: 0.5vw;
}

.cartQuantity{
    text-align: center;
    flex: 1 0 15%;
    align-self: center;
}

.cartQuantity:hover{
    /*opacity: 0.4;*/
    color: #44fff0;
}

.cartModal input[type=text]{
    /*text-align: center;*/
    width: 2.4vw;
    height: 4vh;
    font-size:18px;
    border: 2px solid rgb(230, 207, 249);
    border-radius: 3px;
}

.cartModal  input[type=text]:hover{
    opacity:1;
    border: 2px solid rgb(182, 247, 249);
}

.cartModal  input[type=number]:focus{
    opacity:1;
    border: 2px solid rgb(182, 247, 249);
}

.cartPrice{
    text-align: center;
    flex: 1 0 15%;
    align-self: center;
}

.cartPrice:hover{
    opacity: 0.4;
    color: #44fff0;
}

.btn-exit-cart {
    position: absolute;
    top: -25px;
    right: -19px;
}

.btn-close-cart{
  background-color: rgba(43, 36, 43, 0.8);
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.btn-close-cart:hover{
    opacity: 0.5;
}

.btn-remove-cart{
    position: absolute;
    bottom: 4px;
    right: 5px;
}

.btn-remove{
    background-color: #112d4a;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border: 1px #111f57 solid;
    border-radius: 5px;

}

.btn-remove:hover{
    background-color: #111f57;
}


.btn-remove:active {
    background-color: #111f57;
    transform: translateY(3px);
}

.price-zone{
    position: absolute;
    bottom: 3vh;
    right: 7vw;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 1.5vw;
    padding: 2vh;
}

.price-zone:hover{
    color: #ff0030;
    border-top: 1px solid #ff0030;
    border-bottom: 1px solid #ff0030;
    opacity: 0.6;
}